@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	font-family: 'Arial', sans-serif;
	font-size: 100%;
	background-color: rgb(5, 15, 29);
}

#cabecalho {
	background-color: #1d010d;
}

.menu-section {
	display: flex;
}

#container-header{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	max-width: 1440px;
	background-color: #1d010d;
	margin: auto;
}

#cabecalho-imagem {
	width: 22%;
	min-width: 60px;
	padding: 10px;
}

.logo{
	display: flex;
	align-items: center;
	font-family: 'Comforter Brush', cursive;
	font-size: max(25px, 3vw);
}

.aguia{
	color: #f7f4f2;
}

.real{
	color: aqua;
}

nav {
	display: inline;
}

#cabecalho-menu-item {
	font-family: 'Sarala', sans-serif;
	color: #dcdcee;
	font-weight: 400;
	font-size: max(12px, 1.5vw);
	cursor: pointer;
	display: inline-block;
	padding: 31px 20px;
	transition: .6s;
}

#cabecalho-menu-item:hover{
	background-color: #07cef1;
}

.material-icons{
	visibility: hidden;
}

@media (max-width: 767px) {
	nav{
		display: none;
	}

	.material-icons{
		visibility: visible;
		cursor: pointer;
	}

	.agrupamento1{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#agrupamento2{
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}

	.fotos img {
		min-width: 300px;
	}
}

/* menu hamburguer */

.menu-section.on{
	width: 130px;
	position: absolute;
	background-color: #1d010d;
	top: 0;
	right: 0;
	margin-right: 5%;
	z-index: 10;
}

.menu-section.on nav{
	display: block;
}

.menu-section.on .material-icons{
	right: 0;
	position: absolute;
	top: 17px;
}

.menu-section.on nav ul{
	display: block;
}

/* conteúdo principal */


#conteiner-1{
	background-image: url("imagens/fundo.svg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

#conteudo-principal {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	height: 100vh;
	width: 90%;
	max-width: 1440px;
	margin: auto;
}

#conteudo-principal-escrito {
	display: flex;
	flex-direction: column;
	grid-gap: 32px;
}

#conteudo-principal-escrito-titulo {
	font-family: 'Righteous', cursive;
	color: #02d9ff;
	font-weight: 400;
	font-size: max(40px, 4.5vw);
}

#conteudo-principal-escito-subtitulo {
	font-family: 'Sarala', sans-serif;
	font-weight: 700;
	font-size: max(20px, 2vw);
	color: #ecd6c4;
}

.conteudo-principal-escito-botao {
	background-color: rgb(25, 211, 0);
	height: 8vh;
	width: 17vw;
	border: none;
	box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	font-family: 'Sarala', sans-serif;
	font-weight: 900;
	font-size: max(15px, 1.9vw);
	color: #1d1e22;
	cursor: pointer;
}

.conteudo-principal-escito-botao:hover {
	background-color: rgba(11, 245, 3, 0.685);

}

#imagem{
	width: 40vw;
}

#conteudo-principal-imagem {
	width: 100%;
	animation-name: goback;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;

}

@media (max-width: 626px) {
	#conteudo-principal{
		display: block;
		padding-top: 20px;
	}

	#conteudo-principal-escrito{
		align-items: center;
		text-align: center;
	}

	.conteudo-principal-escito-botao{
		display: block;
		width: 90vw;
		font-size: 20px;
	}
	
	#imagem{
		margin: auto;
		width: 90vw;
		padding-top: 15px;
	}
	}

.sobre-nos{
	width: 90%;
	max-width: 1440px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.titulo-sobre-nos{
	font-size: max(30px, 5vw);
	font-weight: 400;
	color: #becc00;
	padding-top: 40px;
	text-align: center;
}

.sobre-nos h2, h3 {
	padding: 40px;
	text-align: center;
	color: #becc00;
	font-size: max(15px, 2vw);
}

.sobre-nos p {
	padding: 40px;
	color: #becc00;
	font-size: max(15px, 1.5vw);
}

.agrupamento1 {
	display: flex;
}

#agrupamento-final {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
}

.fotos {
	padding: 10px;
}

.fotos img {
	border-radius: 0px 40px 0px 40px;
	box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.384);
	border: 4px solid #fbff00a8;
	width: 40vw;
	max-width: 440px;
}

@media (max-width: 767px) {
	.sobre-nos p {
		padding: 20px;
		text-align: center;
	}
}

.section-depoimentos {
	background-color: rgb(238, 238, 238);
}

.depoimentos {
	width: 90%;
	max-width: 1440px;
	margin: auto;
	height: 100vh;
	color: #090a0a;
}

.titulo-cards {

	text-align: center;
	padding: 5%;
}

.cards {
	display: flex;
	align-items: center;
	height: 80vh;
}

.card {
	margin: 10px;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 4px 5px 4px #1d1e2260;
	width: 35vw;
	background-color: white;
}

.card h3 {
	color: #3b3b3b;
	text-align: left;
	padding: 10px;
}

.card p {
	color: #3b3b3b;
	padding: 10px;
}

.img-card {
	background-color: rgb(209, 209, 209);
	height: 25vh;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}

.img-card img {
	width: 100%;
	height: 100%;
	border-radius: 10px 10px 0px 0px;
}

#rodape {
	padding: 32px;
	background-color: #090a0a;
	color: white;
	border-top: 1px solid #becc00;
}