@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	font-size: 100%;
}

#cabecalho {
	position: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 24px;
	width: 100%;

}

#cabecalho-imagem {
	height: 72px;
}

#cabecalho-menu {
	display: flex;
	grid-gap: 32px;
}

#cabecalho-menu-item {
	font-family: 'Sarala', sans-serif;
	color: #fff2e7;
	font-weight: 400;
	font-size: 18px;
	cursor: pointer;
}

#conteudo {
	margin-bottom: 48px;
	padding-top: 70px;
	background-image: url("imagens/fundo.svg");
	background-repeat: no-repeat;
	background-size: cover;
}

#conteudo-principal {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	height: 100vh;
}

#conteudo-principal-escrito {
	display: flex;
	flex-direction: column;
	grid-gap: 32px;
}

#conteudo-principal-escrito-titulo {
	font-family: 'Righteous', cursive;
	color: #02d9ff;
	font-weight: 400;
	font-size: 50px;

}

#conteudo-principal-escito-subtitulo {
	font-family: 'Sarala', sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: #ecd6c4;
}

.conteudo-principal-escito-botao {
	background-color: rgb(25, 211, 0);
	height: 60px;
	width: 180px;
	border: none;
	box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	font-family: 'Sarala', sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: #2f2325;
	cursor: pointer;
}

.conteudo-principal-escito-botao:hover {
	background-color: rgba(11, 245, 3, 0.685);

}

#conteudo-principal-imagem {
	height: 23rem;
	margin-top: 40px;
	padding: 20px;
	animation-name: goback;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes goback{
	0%{
		transform: translateY(20px);
	}
	100%{
		transform: translateY(0);
	}
}

.sobre-nos{
	height: 100vh;
	padding-top: 70px;
}

#rodape {
	padding: 32px;
	border-top: 0.4px solid #fff2e7;
}

#rodape-imagem {
	height: 48px;
	display: block;
	margin: 0 auto;
}